<div class="container col-6">
  <div *ngIf="errorMessage" class="bg-danger">{{errorMessage}}</div>
  <div *ngIf="!secondStep && !finished">
    <div class="bg-info p-4 text-white">Step 1</div>
    <form class="m-2" novalidate [formGroup]="userFormGroupFirst" (ngSubmit)="toSecondStep()" autocomplete="off">
      <div class="form-group p-2">
        <label>Login (Email)</label>
        <input class="form-control" formControlName="email">
        <span class="error"
              [hidden]="userFormGroupFirst.controls['email'].pristine || !userFormGroupFirst.hasError('required', 'email')">Email is required</span>
        <span class="error"
              [hidden]="userFormGroupFirst.controls['email'].pristine || !userFormGroupFirst.hasError('email', 'email')">Incorrect Email</span>
      </div>

      <div class="form-group m-2" formGroupName="passwordsGroup">
        <div class="form-group">
          <label>Password</label>
          <input class="form-control" formControlName="password" type="password">
          <span class="error"
                [hidden]="userFormGroupFirst.get(['passwordsGroup', 'password'])?.pristine || !userFormGroupFirst.hasError('required',['passwordsGroup', 'password'])">
Password is required</span>
          <span class="error"
                [hidden]="!userFormGroupFirst.hasError('pattern',['passwordsGroup', 'password'])">
Password must contain minimum 1 letter and minimum 1 digit</span>
        </div><br>
        <div class="form-group">
          <label>Confirm Password</label>
          <input class="form-control" formControlName="confirmPassword" type="password">
          <span class="error"
                [hidden]="userFormGroupFirst.get(['passwordsGroup', 'confirmPassword'])?.pristine || !userFormGroupFirst.hasError('equals', 'passwordsGroup')">
Passwords must be the same</span>
        </div>
      </div>
      <div style="height: 25px"></div>
      <div class="form-group" style="height: 45px">
        <table><tr><td>
          <input type="checkbox" formControlName="agree" class="form-check" id="cb">
        </td><td>
          <label for="cb" class="form-check-label">Agree</label>
        </td></tr></table>
        <span class="error"
              [hidden]="userFormGroupFirst.controls['agree'].pristine || !userFormGroupFirst.hasError('required', 'agree')">
        Must agree
      </span>
      </div>
      <button class="btn btn-primary m-3 p-2" [disabled]="userFormGroupFirst.invalid" type="submit">Go to step 2</button>
    </form>
  </div>

  <div *ngIf="(secondStep || finished) && countries">
    <div class="bg-info p-2 bg-info p-4 text-white">Step 2</div>
    <form [formGroup]="userFormGroupSecond" novalidate (ngSubmit)="registerUser()">
      <div class="form-control">
        <label>Country</label>
        <select formControlName="countryId" (change)="loadCities($event.target)" class="form-select">
          <option value="0">Select a Country</option>
          <option *ngFor="let c of countries" [value]="c.countryId">{{c.countryName}}</option>
        </select>
        <span class="error"
              [hidden]="userFormGroupSecond.controls['countryId'].pristine || !userFormGroupSecond.hasError('min', 'countryId')">
        Country is a required field
        </span>
      </div>

      <div class="form-control">
        <label>Cities</label>
        <select formControlName="cityId" class="form-select">
          <option value="0">Select a Province</option>
          <option *ngFor="let c of cities" [value]="c.cityId">{{c.cityName}}</option>
        </select>
        <span class="error"
              [hidden]="userFormGroupSecond.controls['cityId'].pristine || !userFormGroupSecond.hasError('min', 'cityId')">
        Province is a required field
        </span>
      </div>
      <div class="form-control">
        <button type="submit" [disabled]="userFormGroupSecond.invalid || finished" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
  <div>

  </div>
  <div class="bg-success text-white p-2" *ngIf="resultMessage && resultMessage.id">
    {{resultMessage.msg}}
   </div>
  <div class="m-2 p-2" *ngIf="resultMessage && resultMessage.id">
    <a class="btn btn-outline-primary text-black" (click)="fetchUser(resultMessage.id)">Fetch registered user</a>
  </div>
  <div claas="bg-info" *ngIf="user">
    <table class="table table-bordered table-striped">
      <tr>
        <th>Email</th>
        <td>{{user.email}}</td>
      </tr>
      <tr>
        <th>Id</th>
        <td>{{resultMessage.id}}</td>
      </tr>
      <tr>
        <th>Country</th>
        <td>{{user.countryName}}</td>
      </tr>
      <tr>
        <th>Province</th>
        <td>{{user.cityName}}</td>
      </tr>
    </table>
  </div>
</div>
